<html>
<head>
	<title></title>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.marionette/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.marionette/underscore.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.marionette/backbone.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone_tastypie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
</head>
<body>
holi
{{ STATIC_URL }}
</body>
</html>